@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mate:ital@0;1&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

*{
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

.bg-gradient-hero {
  background-image: linear-gradient(to top, #1F3653 0%, #0a1a3800 100%);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper-button-prev, .swiper-button-next {
  color: #c2ac57 !important;
}

.custom-card {
  padding: 0 !important;
}

.image-category-title {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
  font-weight: 600;
}

.image-category-titles {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
}

.input-animation {
  transition: all 0.4s ease;
  border: 2px solid #044f70;
}

.input-animation:focus {
  border-color: #044f70;
  box-shadow: 0 0 8px rgba(4, 79, 112, 0.6);
}

.travel-link {
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.2s;
  color: #1F3653;
  /* Asl rang */
}

.travel-link:hover {
  color: #c2ac57;
}

.travel-inspiration-link {
  margin: 0;
  transition: background-color 0.3s ease, padding 0.3s ease;
  border-radius: 4px;
}

.travel-inspiration-link:hover {

  background-color: rgba(4, 79, 112, 0.1);
  color: inherit;
}

/* Hamburger icon style (for Ant Design MenuOutlined) */
.hamburger-icon {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .hamburger-icon {
    display: block;
  }

  .nav-links .nav-item {
    display: none;
  }

}

@media only screen and (max-width:600px) {

  .nav-links .nav-item {
    display: none;
  }

  .nav-links.open .nav-item {
    display: block;
  }

  .nav-links.open .trav-link {
    display: block; 
  }

  .nav-links .trav-link {
    display: none;
  }
}

@media (max-width:768px) {
  .swiper-button-prev {
    left: 0px !important;
  }

  .swiper-button-next {
    right: 0px !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 28px !important;
  height: 28px !important;
  color: black !important;
  /* background-color: rgba(255, 255, 255, 0.9); */
  border-radius: 50%;
  font-size: 14px !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;
}

.swiper-button-next {
  right: -10px !important;
}

.swiper-button-prev {
  left: -10px !important;
}

.grayscale {
  filter: grayscale(100%);
}

.family-trip-discription {
  font-family: 'Montserrat', sans-serif !important;
  text-align: justify;
  font-size: 16px;
  color: #333;
  margin: 0 auto;
  background-color: #f9f5f0;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;

}
@media screen  and (max-width: 768px) {
  .family-trip-discription {
    flex-direction: column;

  }
  .sidebar_copy {
    width: 100%;
    height: auto;
    margin-top: 24px;
  }

  .copy {
    width: 100%;
  }
  
}

.tour-body {
  font-family: 'Montserrat', sans-serif !important;
  max-width: 1000px;
  font-size: 16px;
  margin-right: auto;
  background-color: #fff;
  margin-left: auto;
  padding: 80px 0 0;
}

.itinerary-items-stage {

  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  padding: 0 40px 32px;
  background-color: #fff;
}

.sidebar_copy {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  color: #1b3154;
  padding: 10px 20px;
  width: 330px;
  height: 420px;
  background-color: #f7f2e5;
}

.slick-active {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  min-width: 1px;
  background-color: #1b3154;
  margin: 4px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.day {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
}

.number {
  font-family: 'Mate', serif !important;
  font-size: 51.2px;
}

.title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 21.6px;
  color: #1b3154;
  margin: 21.6px 0;
}

.copy {
  max-width: 618px;
  width: 100%;
  display: block;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  color: #1b3154;
}

/* h4 {
  font-family: 'Mate', serif !important;
  font-size: 16px;
  margin: 26.6px 0;
} */
.sidebar-button_cta{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  justify-content: center;
  margin: 16px;
  background-color: #1b3154;
  padding: 8px 28.8px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.sidebar-button_cta:hover {
  background-color: #1b3154;
  color: #c2ac57;
  cursor: pointer;
}
.ul1 {
  margin: 16px 0;
}

.ul2 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  color: #1b3154;
  padding: 0 0 0 40px;
}

.li1 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  list-style-type: circle;
  color: #1b3154;
}

.li1 li {
  margin-bottom: 8px;
}

.strong {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  margin: 10px 0;
  color: #1b3154;
}

.map {
  margin: 16px 0;
}

.description {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  margin: 16PX 0;
  color: #1b3154;
}

#tour-cta {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  color: #1b3154;
  text-align: center;
}

.blue_button_cta {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px;
  color: #1b3154;
  text-align: center;
  background-color: #e8dcba;
  padding: 10px 30px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.blue_button_cta:hover {
  background-color: #1b3154;
  color: #e8dcba;
  cursor: pointer;
}

.titles {
  font-family: 'Mate', serif !important;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 26.56px 0;
  color: #1b3154;
}

#tour-hotels {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  color: #1b3154;
  padding: 80px 0 40px;
  background-color: #e8dcba;
}

.wave-section {
  position: relative;
  background-color: #e8dcba;
  height: 150px;
  overflow: hidden;
}

.wave-section::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  border-radius: 100% 100% 0 0;
  background-color: #fff;
}