@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mate:ital@0;1&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

.bg-gradient-hero {
  background-image: linear-gradient(to top, #1F3653 0%, #0a1a3800 100%);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.swiper-button-prev, .swiper-button-next{
  color: #c2ac57 !important;
}
.custom-card{
  padding: 0 !important;
}

.image-category-title{
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
  font-weight: 600;
}
.image-category-titles{
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
}
.input-animation {
  transition: all 0.4s ease; 
  border: 2px solid #044f70;
}

.input-animation:focus {
  border-color: #044f70; 
  box-shadow: 0 0 8px rgba(4, 79, 112, 0.6);
}