@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mate:ital@0;1&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

.bg-gradient-hero {
  background-image: linear-gradient(to top, #1F3653 0%, #0a1a3800 100%);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.swiper-button-prev, .swiper-button-next{
  color: #c2ac57 !important;
}
.custom-card{
  padding: 0 !important;
}

.image-category-title{
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
  font-weight: 600;
}
.image-category-titles{
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
}
.input-animation {
  transition: all 0.4s ease; 
  border: 2px solid #044f70;
}

.input-animation:focus {
  border-color: #044f70; 
  box-shadow: 0 0 8px rgba(4, 79, 112, 0.6);
}
.travel-link{
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.2s;
  color: #1F3653; /* Asl rang */
}
.travel-link:hover{
  color: #c2ac57;
}
.travel-inspiration-link{
  margin: 0;
  transition: background-color 0.3s ease,padding 0.3s ease; 
  border-radius: 4px;
}

.travel-inspiration-link:hover {

  background-color: rgba(4, 79, 112, 0.1);
  color: inherit; 
}
/* Hamburger icon style (for Ant Design MenuOutlined) */
.hamburger-icon {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .hamburger-icon {
    display: block;
  }
  .nav-links .nav-item{
    display: none;
  }

}
@media only screen and (max-width:600px) {

  .nav-links .nav-item {
    display: none; 
  }

  .nav-links.open .nav-item {
    display: block; 
  }

  .nav-links.open .trav-link {
    display: block; 
  }

  .nav-links .trav-link {
    display: none; 
  }
}
